<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eurozol 2022 Admin</title>
  <script src="https://unpkg.com/vue@next"></script>
  <script src="https://cdn.tailwindcss.com"></script>

  <link href="https://unpkg.com/@tailwindcss/forms@0.2.1/dist/forms.min.css" rel="stylesheet">
</head>

<body class="mb-5">
  <div id="app">
    <div class="w-full p-5" v-if="!isLoad">
      <div class="w-full mt-3">
        <div class="flex flex-col">
          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                <table class="min-w-full divide-y divide-gray-200">
                  <thead class="bg-gray-50">
                    <tr>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Номер (как на сайте с голосованием)
                      </th>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Видео
                      </th>
                      <th scope="col"
                        class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Голоса
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="(vote, voteIdx) in votes.sort((a,b) => a.votes > b.votes ? -1 : 1)" :key="voteIdx"
                      :class="voteIdx % 2 === 0 ? 'bg-white' : 'bg-gray-50'">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        {{ vote.id }}
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                        {{ vote.name }}
                      </td>
                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                        {{ vote.votes }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div class="w-full mt-3">
          <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                  <table class="min-w-full divide-y divide-gray-200">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col"
                          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          ФИО
                        </th>
                        <th scope="col"
                          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Видео
                        </th>
                        <th scope="col"
                          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                          Ссылка
                        </th>
                        <th scope="col"
                          class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                           
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr v-for="(u, uIdx) in users" :key="uIdx">
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          {{ u.bio }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                          {{ u.email }}
                        </td>
                        <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                          https://2022.euroizol.ua/?token={{ uIdx }}
                        </td>
                        <td  class="px-6 py-4 whitespace-nowrap text-right cursor-pointer text-sm font-medium ">
                          <button type="button" @click="delete_user(uIdx)" class="text-red-600 hover:underline hover:text-red-900">Удалить</button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex justify-between items-end flex-row w-full mt-5">
          <div class="w-full mr-4">
            <label for="bio" class="block text-sm font-medium text-gray-700">ФИО</label>
            <div class="mt-1">
              <input v-model.trim="new_user.bio" type="text" name="bio" id="bio"
                class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                placeholder="Сергей Николаевич" />
            </div>
          </div>
          <div class="w-full mr-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <div class="mt-1">
              <input v-model.trim="new_user.email" type="email" name="email" id="email"
                class="shadow-sm focus:ring-blue-500 focus:border-blue-500 block w-full sm:text-sm border-gray-300 rounded-md"
                placeholder="you@example.com" />
            </div>
          </div>
          <button v-show="new_user.bio && new_user.email" @click="add_user()" type="button"
            class="h-[38px] whitespace-nowrap inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
            Добавить
          </button>
        </div>
      </div>
    </div>
  </div>
  <script type="module" src="./admin.js"> </script> 
</body>

</html>